source_env_if_exists ./.envrc.local

export NGX_CONFIGURE_ARGS="${NGX_CONFIGURE_ARGS:+"$NGX_CONFIGURE_ARGS "}--with-debug --prefix=$PWD/examples/prefix"
export MACOSX_DEPLOYMENT_TARGET=15.0
export CFLAGS="${CFLAGS:+"$CFLAGS "}-g"
